* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;

    --main: #2a607c;
    --main2: #c7ecff;
    --main3: #193b4d;
    --white-text: white;

    --blue1: ##00ABE1;
    --blue2: #161F6D;

    --plant1: #5DAA68;
    --plant2: #3F6844;
    --plant3: #FAF1CF;


}

/* .box { border: 1px solid black; } */

/* RANDOM STYLES START */

.white-text {
    color:white;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}
.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-container { 
    padding-top: 10px; 
    padding-bottom: 10px; 
    /* border: 1px solid black */
}
.section-title {
    display: flex;
    justify-content: flex-end;

    border-right: 3px solid black;

    width: 30%;
    font-size: 25px;

    padding-right: 20px;
    padding-left: 20px;

    margin-right: 20px;
}
.content-container {
    display: flex;
    justify-content: space-around;

    flex-direction: column;
    width: 70%;
}
.content-right-p {
    margin: 10px;
}
.horizontal-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.backlog {
    display: none;
}

/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    /* background-image: url("../Images/lake.jpg"); */
    background-size: cover;
    background-position: center;

    height: 150px;

    color: var(--white-text);

}
header h1 {
    display: inline-block;
    text-align: center;
    font-size: 48px;

    margin-left: 50px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;

    margin-right: 50px;

}
header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
header nav ul li {
    margin-left: 25px;
}
a {
    color: var(--white-text);
    text-decoration: none;
}

/* Hero */
.hero {
    /* background-image: url("../Images/lake.jpg"); */
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#hero-text {
    font-size: 40px;
    padding: 5px;
}

/* About Me */    
#cbm-profile {
    /* height: auto; */
    margin: 10px;
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
    background-position: center;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    /* background-image: url("../Images/lake.jpg"); */
    background-color: var(--main);

    background-size: cover;
    background-position: center;

    height: 50px;

    color: var(--white-text);

}

/* Work section Start */
.grid {
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: 25% 25% 25% 25%;
}
.text-box {
    display: inline-block;
    width: fit-content;

    background-color: var(--main);
    color: var(--white-text);
    margin: 0 0 10px 0;
}
.projectCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 300px;
    /* width: 100%; */

    margin: 10px;
    border: 5px solid var(--main);

    background-position: center top;
    background-size: cover;
}
.projectCard h3 {
    font-size: 30px;
    padding: 5px;
}
.projectCard h4 {
    font-size: 15px;
    padding: 0 5px 5px 5px;
}
.projectCard:hover {
    opacity: 50%;
}

/* Work image ids Start*/
/* #surf-report        { background-image: url(../Images/projectCard-Images/surf\ report.jpg); }
#led-wall           { background-image: url(../Images/projectCard-Images/led\ wall.jpeg); }
#calculator         { background-image: url(../Images/projectCard-Images/calculator.png); }
#pastel-puzzle      { background-image: url(../Images/projectCard-Images/pastel\ puzzle.jpg); }
#Horeison           { background-image: url(../Images/projectCard-Images/digital-marketing-meeting.jpg); }
#run-buddy          { background-image: url(../Images/projectCard-Images/hero-bg.jpg); }

#passwordGenerator  { background-image: url(../Images/projectCard-Images/passwordGenerator.png); }
#workDayScheduler   { background-image: url(../Images/projectCard-Images/workDayScheduler.png); }
#Eazy-Eatz          { background-image: url(../Images/projectCard-Images/eazy-eatz.png); }
#eCommerce-backEnd  { background-image: url(../Images/projectCard-Images/e-commerce-back-end.jpeg); background-position: center; }
#Full-Stack-Website { background-image: url(../Images/projectCard-Images/armadillo-materials.png); }
#team-profile-generator { background-image: url(../Images/projectCard-Images/team-profile-generator.png); }


#email-icon     { background-image: url(../Images/555-phone-number.jpg); }
#github-icon    { background-image: url(../Images/white-icons/github/github1.png); }
#linkedin-icon  { background-image: url(../Images/white-icons/linkedin/linkedin1.png); } */

.footer-icon {
    height: 20px;
    width: 20px;
}

/* Start Contact Me */
.contact-li { margin-left: 15px; }

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    height: 50px;
    /* background-color: var(--main); */
    background-color: var(--main);
}
footer nav { width: 100%; }
footer nav ul {

    list-style-type: none;
    color: white;


    /* border: 1px solid black; */

}

.hide {
    background-color: blueviolet;
    /* display: none; */
}
.hide2 {
    background-color: rgb(43, 226, 67);
    /* display: none; */
}

@media screen and (max-width: 1300px) { .grid { grid-template-columns: 33% 33% 33%; } }
@media screen and (max-width: 900px) { .grid { grid-template-columns: 50% 50%; }}
@media screen and (max-width: 860px) {
    header {
        justify-content: space-around;
    }
    header h1 {
        margin-left: 0px;
    }
    header nav {
        margin-right: 0px;
    }
}
@media screen and (max-width: 575px) {
    header {
        justify-content: center;
        align-items: center;
    }
    .section-container {
        flex-direction: column;
        align-items: center;
    }
    .section-title {
        display: flex;
        justify-content: left;
        /* width: 70%; */
        border-right: 0px solid black;
        padding-right: 0px;
        margin-right: 0px;
        padding-left: 0px;
    }
    .content-container {
        align-items: center;

        border-top: 3px solid black;
        padding-top: 20px;
        margin-top: 20px;
    }
    .grid { grid-template-columns: 100%; }
    .image-pair {
        flex-direction: column;
    }
    #contact-nav {
        padding-bottom: 20px;
    }
}
