.box { border: 1px solid black; }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;

    --main: #2a607c;
    --main2: #7da4b8;
    --main3: #193b4d;
    --white-text: white;

    --blue1: ##00ABE1;
    --blue2: #161F6D;
    --plant1: #5DAA68;
    --plant2: #3F6844;
    --plant3: #FAF1CF;

    --lake-Img: url("../Images/lake.jpg");
    --profile-pic: url('../Images/profile-pic.jpg');

    --header_height: 100px;
    --footer_height: 60px;
    --sectionHeight: calc(100vh - var(--header_footer_height) * 2);
}

#surf-report            { background-image: url(../Images/projectCard-Images/surf\ report.jpg); }
#led-wall               { background-image: url(../Images/projectCard-Images/led\ wall.jpeg); }
#calculator             { background-image: url(../Images/projectCard-Images/calculator.png); }
#pastel-puzzle          { background-image: url(../Images/projectCard-Images/pastel\ puzzle.jpg); }
#Horeison               { background-image: url(../Images/projectCard-Images/digital-marketing-meeting.jpg); }
#run-buddy              { background-image: url(../Images/projectCard-Images/hero-bg.jpg); }

#passwordGenerator      { background-image: url(../Images/projectCard-Images/passwordGenerator.png); }
#passwordGenerator      { background-image: url(../Images/projectCard-Images/passwordGenerator.png); }
#workDayScheduler       { background-image: url(../Images/projectCard-Images/workDayScheduler.png); }
#Eazy-Eatz              { background-image: url(../Images/projectCard-Images/eazy-eatz.png); }
#eCommerce-backEnd      { background-image: url(../Images/projectCard-Images/e-commerce-back-end.jpeg); background-position: center; }
#Full-Stack-Website     { background-image: url(../Images/projectCard-Images/armadillo-materials.png); }
#team-profile-generator { background-image: url(../Images/projectCard-Images/team-profile-generator.png); }
#e-commerce             { background-image: url(../Images/projectCard-Images/e-commerce.png); }


#email-icon             { background-image: url(../Images/555-phone-number.jpg); }
#github-icon            { background-image: url(../Images/white-icons/github/github1.png); }
#linkedin-icon          { background-image: url(../Images/white-icons/linkedin/linkedin1.png); }

.burkholder-eyelashes { background-image: url(../Images/projectCard-Images/e-commerce.png); }

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;

    position: fixed;

    background-image: var(--lake-Img);
    background-size: cover;
    background-position: center;

    height: var(--header_height);
    width: 100%;
    color: var(--white-text);
}

header h1 {
    display: inline-block;
    text-align: center;
    font-size: 48px;

    margin-left: 50px;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;

    margin-right: 50px;

}
header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
header nav ul li {
    margin-left: 25px;
}
a {
    color: var(--white-text);
    text-decoration: none;
}

.body_footer_wrapper{
    max-height: calc(100vh - var(--header_footer_height));
    overflow-y: auto;
}

/* Hero */
.hero {
    background-image: var(--lake-Img);
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#hero-text {
    font-size: 40px;
    padding: 5px;
}

/* About Me */    
#cbm-profile {
    background-image: var(--profile-pic);
    background-size: cover; 
    background-position: center;
    height: 400px;
    width: 400px;
}


/* Work section Start */
.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.text-box {
    background-color: var(--main);
    color: var(--white-text);
}

.colorMain {
    background-color: var(--main);
    color: var(--white-text);
}

.text-center {
    text-align: center;
}

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.resumeWidth {
    border: 1px solid black;
    margin: 1px;
    width: 90%;
}

.content-container, .projectCards_container {
    display: flex;
    justify-content: space-around;

    flex-direction: column;
    width: 70%;
    /* width: 100%; */
}

.projectCards_container{

}

.projectCard-name {
    height: 40px;
}
.projectLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectCard-link {
    height: 35px;
    font-size: 1rem;
    width: 8rem;
}
.projectCard-link:hover {
    background-color: var(--main2);
}
.projectCard-wrapper{
    position: relative;

}
.projectCard-image{

    position: relative;
    z-index: -1;

    width: 100%;
    /* height: 100%; */

    /* height: 100px;
    width: 100px; */
}

.projectCard {
    /* position: absolute; */
    /* z-index: 0; */
    /* top:0%;
    bottom:0%;
    left:0%;
    right:0%; */
  
    /* padding: 5px, 5px, 5px, 5px; */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 300px;
    
    /* margin: 10px; */
    border: 5px solid var(--main);

    overflow-y: hidden;

    /* background-position: center top; */
    /* background-size: cover; */
}
.projectCard-content{
    position: relative;
    /* z-index: 1; */
}

.projectCard h3 {
    font-size: 30px;
    padding: 5px;
}
.projectCard h4 {
    font-size: 15px;
    padding: 0 5px 5px 5px;
}
.hoverFade:hover { opacity: 50%; }
.linkHover:hover { opacity: 50%; }

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    height: var(--footer_height);
    padding: 0 5px;
    background-color: var(--main);
    color: var(--white-text);
}

footer nav { width: 100%; }

footer nav ul {
    list-style-type: none;
    color: white;
}

.footer-icon {
    height: 20px;
    width: 20px;
}

/* Start Contact Me */
.contact-li { margin-left: 15px; }

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-align-center {
    display: flex;
    align-items: center;
}

.hide {
    background-color: blueviolet;
    /* display: none; */
}

.pointer { cursor: pointer; }

.hoverColorChange:hover { color: var(--main2); }

/* RANDOM STYLES START */

.white-text { color:white; }

.flex-around {
    display: flex;
    justify-content: space-around;
}
.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section { 
    padding-top: calc( var(--header_height) + 10px); 
    min-height: 100vh;
    padding-bottom: calc( var(--footer_height) + 10px); 
}

.section-title {
    display: flex;
    justify-content: flex-end;

    border-right: 3px solid black;

    width: 30%;
    font-size: 25px;

    padding-right: 20px;
    padding-left: 20px;

    margin-right: 20px;
}
.content-right-p {
    margin: 10px;
}
.horizontal-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.backlog {
    display: none;
}

@media screen and (max-width: 1300px) { .grid { grid-template-columns: 33% 33% 33%; } }
@media screen and (max-width: 900px) { .grid { grid-template-columns: 50% 50%; }}
@media screen and (max-width: 860px) {
    header {
        justify-content: space-around;
    }
    header h1 {
        margin-left: 0px;
    }
    header nav {
        margin-right: 0px;
    }
}
@media screen and (max-width: 575px) {
    header {
        justify-content: center;
        align-items: center;
    }
    .section {
        flex-direction: column;
        align-items: center;
    }
    .section-title {
        display: flex;
        justify-content: left;
        /* width: 70%; */
        border-right: 0px solid black;
        padding-right: 0px;
        margin-right: 0px;
        padding-left: 0px;
    }

    .content-container, .projectCards_container {
        align-items: center;

        border-top: 3px solid black;
        padding-top: 20px;
        margin-top: 20px;
    }
    .grid { grid-template-columns: 100%; }
    .image-pair {
        flex-direction: column;
    }
    #contact-nav {
        padding-bottom: 20px;
    }
}
